{% extends 'base.html.twig' %}
{% block title %}R6 Random!{% endblock %}

{% block body %}
	<div class="container">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<button id="darkMode" type="button">Dark-Mode</button>
					<button>Profile</button>
			</div>
		</nav>
		<main>
			<div class="py-5 text-center mt-5">
				<h2 class="tWhite">R6 Random</h2>
				<h3 class="lead tWhite">{{ 'Platinum Text'|trans }}</h3>
			</div>

			<div class="row g-3">
			{# defense #}
				<div class="col-md col-lg order-md-last d-flex flex-column align-items-center">
					<h4 class="mb-3 text-muted tWhite">{{ 'Defense'|trans }}</h4>
					<h5 id="idDefender"></h5>				
					<div class="w-50" id="defenderSVG"></div>			
					<p id="tacticalDefender"></p>
					<button class="btn btn-secondary" id="btnDefender" type="button" data-bs-toggle="collapse">{{ 'Shuffle'|trans }}</button>
				</div>

				{# Attack #}
				<div class="col-md col-lg d-flex flex-column align-items-center">
					<h4 class="mb-3 text-muted tWhite">{{ 'Attack'|trans }}</h4>
					<h5 id="idAttacker"></h5>
					<div class="w-50" id="attackerSVG"></div>
					
					<p id="tacticalAttacker"></p>
					<button class="btn btn-secondary" id="btnAttacker" type="button" data-bs-toggle="collapse">{{ 'Shuffle'|trans }}</button>
				</div>
			</div>
		</main>

		<footer class="my-5 pt-5 text-muted text-center text-small footer">
			<p class="mb-1">© 2022</p>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="#">Privacy</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Terms</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Support</a>
				</li>
			</ul>
		</footer>
	</div>
{% endblock %}
